In [38]:
import pandas as pd
from bs4 import BeautifulSoup

In [39]:
files = ['./DAPrices/n2ex-day-ahead-auction-prices_2015_hourly_eur.html',
        './DAPrices/n2ex-day-ahead-auction-prices_2016_hourly_eur.html',
        './DAPrices/n2ex-day-ahead-auction-prices_2017_hourly_eur.html',
        './DAPrices/n2ex-day-ahead-auction-prices_2018_hourly_eur.html',
        './DAPrices/n2ex-day-ahead-auction-prices_2019_hourly_eur.html']

result_df = pd.DataFrame(columns = ['Date', 'Hour_1', 'Hour_2', 'Price'])

In [40]:

for f in files:
    with open(f) as doc:
        soup = BeautifulSoup(doc, 'html.parser')
        headers = [str(tr.text).strip() for tr in soup.table.thead.find_all('tr')]
        for tr in soup.table.tbody.find_all('tr'):
            date = str(tr.text)[:11].lstrip() # date
            hour_1 = str(tr.text)[11:18].strip() # hour
            hour_2 = str(tr.text)[18:25].strip() # hour?
            price = str(tr.text)[25:].replace(',', '.').rstrip() # DA price

            result_df = result_df.append(pd.DataFrame({'Date': date, 'Hour_1': hour_1, 'Hour_2': hour_2, 'Price': price},
                                                      index=[0]))
    
print(result_df.describe())

              Date   Hour_1   Hour_2  Price
count        43829    43829    43829  43829
unique        1826       24       24   7424
top     28-10-2018  01 - 02  02 - 03  50.31
freq            26     1831     1831     30

In [49]:
result_df = result_df.reset_index()
result_df.to_csv('uk_day_ahead_prices_hourly.csv')

In [50]:
result_df.head()

   index  level_0        Date   Hour_1   Hour_2  Price
0      0        0  01-01-2015  23 - 00  00 - 01  52.25
1      1        1  01-01-2015  00 - 01  01 - 02  50.73
2      2        2  01-01-2015  01 - 02  02 - 03  47.63
3      3        3  01-01-2015  02 - 03  03 - 04  41.50
4      4        4  01-01-2015  03 - 04  04 - 05  37.52