In [2]:
import pandas as pd
from matplotlib import pyplot as plt

In [3]:
# all recorded production
dk_production = {'All': [],
                     'Wind': []}

for year in range(2013, 2020): # all production
    df = pd.read_excel(f'./AllProduction/DK/production-dk-areas_{year}_hourly.xlsx')[['Date', 'Hours', 'DK1', 'DK2']]
    df['Date'] = pd.to_datetime(df['Date'])
    dk_production['All'].append(df)
    
for year in range(2013, 2020): # Wind production
    df = pd.read_excel(f'./WindProduction/DK/wind-power-dk_{year}_hourly.xlsx')[['Date', 'Hours', 'DK1', 'DK2']]
    df['Date'] = pd.to_datetime(df['Date'])
    dk_production['Wind'].append(df)


# concat the frames
dk_production_all = pd.concat(dk_production['All'], ignore_index=True)
dk_production_wind = pd.concat(dk_production['Wind'], ignore_index=True)

dk_production_all_daily = dk_production_all.groupby('Date').sum()
dk_production_wind_daily = dk_production_wind.groupby('Date').sum()

uk_production_all = pd.read_csv('UK_actual_prod.csv')

In [4]:
# recorded wind production
dk_wind_production = []

for year in range(2013, 2020):
    production = pd.read_excel(f'./WindProduction/DK/wind-power-dk_{year}_hourly.xlsx')[['Date', 'Hours', 'DK1', 'DK2']]
    production['Date'] = pd.to_datetime(production['Date'])
    production['DK1'], production['DK2'] = production['DK1'].astype('float'), production['DK2'].astype('float')
    
    production.index = production['Date']
    production = production.drop(columns=['Date'])
    dk_wind_production.append(production)
    
dk_wind_production = pd.concat(dk_wind_production)
dk_wind_production_daily = dk_wind_production.groupby(dk_wind_production.index).sum()

uk_wind_production = pd.read_csv('UK_actual_wind_prod.csv')
uk_wind_production = uk_wind_production.loc[uk_wind_production['Business Type'] == 'Wind generation']

In [5]:
# all production forecast
dk_production_forecast = []

for year in range(2013, 2020):
    df = pd.read_excel(f'./AllProductionForecast/production-prognosis_{year}_hourly.xlsx')[['Date', 'Hours', 'DK1', 'DK2']]
    df['Date'] = pd.to_datetime(df['Date'])
    df['DK1'] = df['DK1'].astype(float)
    df['DK2'] = df['DK2'].astype(float)
    df.index = df['Date']
    df = df.drop(columns=['Date'])
    dk_production_forecast.append(df)
    
dk_production_forecast = pd.concat(dk_production_forecast)
uk_production_forecast = pd.read_csv('UK_total_load_forecast.csv')

In [6]:
# consumption forecast
dk_consumption_forecast = []

for year in range(2013, 2015): # the two data sources for all countries
    df = pd.read_excel(f'./ConsumptionForecast/DK/consumption-prognosis_{year}_hourly.xlsx')[['Date', 'Hours', 'DK1', 'DK2']]
    df['Date'] = pd.to_datetime(df['Date'])
    df['DK1'] = df['DK1'].astype(float)
    df['DK2'] = df['DK2'].astype(float)
    df.index = df['Date']
    df = df.drop(columns=['Date'])
    dk_consumption_forecast.append(df)
    
for year in range(2015, 2020): # the two data sources for all countries
    df = pd.read_excel(f'./ConsumptionForecast/DK/consumption-prognosis-dk_{year}_hourly.xlsx')[['Date', 'Hours', 'DK1', 'DK2']]
    df['Date'] = pd.to_datetime(df['Date'])
    df['DK1'] = df['DK1'].astype(float)
    df['DK2'] = df['DK2'].astype(float)
    df.index = df['Date']
    df = df.drop(columns=['Date'])
    dk_consumption_forecast.append(df)

dk_consumption_forecast = pd.concat(dk_consumption_forecast)
dk_consumption_forecast_daily = dk_consumption_forecast.groupby(dk_consumption_forecast.index).sum()



uk_consumption_forecast = pd.read_csv('uk_demand_forecast.csv')
uk_consumption_forecast['SettlementDate'] = pd.to_datetime(uk_consumption_forecast['SettlementDate'], format='%Y%m%d')
uk_consumption_forecast = uk_consumption_forecast.drop(columns=['Unnamed: 0'])
uk_consumption_forecast.index = uk_consumption_forecast['SettlementDate']
uk_consumption_forecast

,RecordType,SettlementDate,SettlementPeriod,Zone,TimePublished,Quantity
SettlementDate,,,,,,
2015-01-01,DANF,2015-01-01,1,N,20141231234700,29400
2015-01-01,DANF,2015-01-01,2,N,20150101001700,29800
2015-01-01,DANF,2015-01-01,3,N,20150101004700,28920
2015-01-01,DANF,2015-01-01,4,N,20150101011700,27932
2015-01-01,DANF,2015-01-01,5,N,20150101014700,26868
...,...,...,...,...,...,...
2019-12-31,DANF,2019-12-31,44,N,20191231211500,29773
2019-12-31,DANF,2019-12-31,45,N,20191231214500,28488
2019-12-31,DANF,2019-12-31,46,N,20191231221500,27817
2019-12-31,DANF,2019-12-31,47,N,20191231224500,26872
2019-12-31,DANF,2019-12-31,48,N,20191231231500,26450

In [7]:
# wind production forecast
dk_wind_forecasts = []

for year in range(2013, 2020):
    forecast = pd.read_excel(f'./WindPrognosis/DK/wind-power-dk-prognosis_{year}_hourly.xlsx')[['Date', 'Hours', 'DK1', 'DK2']]
    forecast['Date'] = pd.to_datetime(forecast['Date'])
    forecast.index = forecast['Date']
    forecast = forecast.drop(columns=['Date'])
    
    forecast['DK1'] = forecast['DK1'].astype(float)
    forecast['DK2'] = forecast['DK2'].astype(float)
    
    dk_wind_forecasts.append(forecast)
    
# concat the frames
dk_wind_forecast = pd.concat(dk_wind_forecasts)
dk_wind_forecast_daily = dk_wind_forecast.groupby(dk_wind_forecast.index).sum()

uk_wind_forecast = pd.read_csv('UK_wind_forecast.csv')
uk_wind_forecast = uk_wind_forecast.loc[uk_wind_forecast['Business Type'] == 'Wind generation']

In [8]:
# Day-ahead prices
dk_DA_prices = []
for year in range(2013, 2020):
    df = pd.read_excel(f'./DAPrices/elspot-prices_{year}_hourly_eur.xlsx')[['Date', 'Hours', 'DK1', 'DK2']]
    df['Date'] = pd.to_datetime(df['Date'])
    df['DK1'] = df['DK1'].astype(float)
    df['DK2'] = df['DK2'].astype(float)
    dk_DA_prices.append(df)

dk_DA_prices = pd.concat(dk_DA_prices, ignore_index=True)
dk_DA_prices_daily = dk_DA_prices.groupby('Date').mean()

uk_DA_prices = pd.read_csv('uk_day_ahead_prices_hourly.csv')

       Unnamed: 0  index  level_0        Date   Hour_1   Hour_2  Price
0               0      0        0  01-01-2015  23Â -Â 00  00Â -Â 01  52.25
1               1      1        1  01-01-2015  00Â -Â 01  01Â -Â 02  50.73
2               2      2        2  01-01-2015  01Â -Â 02  02Â -Â 03  47.63
3               3      3        3  01-01-2015  02Â -Â 03  03Â -Â 04  41.50
4               4      4        4  01-01-2015  03Â -Â 04  04Â -Â 05  37.52
...           ...    ...      ...         ...      ...      ...    ...
43824       43824  43824    43824  31-12-2019  18Â -Â 19  19Â -Â 20  53.41
43825       43825  43825    43825  31-12-2019  19Â -Â 20  20Â -Â 21  45.77
43826       43826  43826    43826  31-12-2019  20Â -Â 21  21Â -Â 22  44.17
43827       43827  43827    43827  31-12-2019  21Â -Â 22  22Â -Â 23  40.08
43828       43828  43828    43828  31-12-2019  22Â -Â 23  23Â -Â 00  38.36

[43829 rows x 7 columns]

In [12]:
# Regulatory/imbalance prices go here
dk_imbalance_prices_list = []

for year in range(2013, 2020):
    imb_prices = pd.read_excel(f'./ImbalancePrices/regulating-prices_{year}_hourly_eur.xls')[['Date', 'Hours', 'DK1 Up', 'DK1 Down', 'DK2 Up', 'DK2 Down']]
    imb_prices['Date'] = pd.to_datetime(imb_prices['Date'])
    imb_prices.index = imb_prices['Date']
    imb_prices = imb_prices.drop(columns=['Date'])
    
    imb_prices[['DK1 Up', 'DK1 Down', 'DK2 Up', 'DK2 Down']] = imb_prices[['DK1 Up', 'DK1 Down', 'DK2 Up', 'DK2 Down']].astype(float)
    dk_imbalance_prices_list.append(imb_prices)


dk_imbalance_prices = pd.concat(dk_imbalance_prices_list)
uk_imbalance_prices = pd.read_csv('uk_imbalance_prices.csv').drop(columns=['Unnamed: 0'])

In [42]:
# gas data, dk

dk_gas = pd.read_csv('./Gas/gtf_gas_historical_export.csv')
dk_gas['DELIVERY_START'] = pd.to_datetime(dk_gas['DELIVERY_START'])
dk_gas = dk_gas.loc[dk_gas['DELIVERY_START'] < '01-01-20'] # get 2013-2019 inclusive
dk_gas = dk_gas.drop(dk_gas.loc[dk_gas['DELIVERY_START'].duplicated()].index) # drop duplicates

dk_gas.index = dk_gas['DELIVERY_START'] # reindex after cleaning

In [43]:
# gas data, uk

uk_gas = pd.read_csv('./Gas/nbp_gas_historical_export.csv')

uk_gas = uk_gas.loc[uk_gas['VALUE_TYPE_SHORTNAME'] == 'Mid']
uk_gas['DELIVERY_START'] = pd.to_datetime(uk_gas['DELIVERY_START'])
uk_gas = uk_gas.loc[uk_gas['DELIVERY_START'] < '01-01-20'] # get 2013-2019 inclusive
uk_gas = uk_gas.drop(uk_gas.loc[uk_gas['DELIVERY_START'].duplicated()].index) # drop duplicates

uk_gas.index = uk_gas['DELIVERY_START'] # reindex after cleaning